.page-center {
  width: 60%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  box-sizing: border-box;
}
.page-center_header {
  width: 100%;

  display: flex;
  justify-content: space-between;

  margin-top: 15px;
}
.page-center_main {
  width: 100%;
  height: 90%;

  padding: 15px;

  background-color: white;

  border: 1px solid #f2f2f2;
  border-radius: 10px;

  box-sizing: border-box;
}
.header {
  color: #718fa6;
}
.list > li {
  display: flex;
  margin: 5px 0px;

  align-items: center;
}
.list-kind {
  width: 3rem;

  border-radius: 4px;

  color: white;

  padding: 2px;
}
.list-title {
  margin-left: 5px;
}
.album {
  background-color: #f59386;
}
.board {
  background-color: #667ac1;
}

.updated-news_main {
  display: flex;
  justify-content: space-between;

  margin-bottom: 20px;
}
.links {
  width: 55%;
}
.link-row {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dotted black;

  padding: 3px;
  padding-right: 40px;
}
.link-count {
  color: #5565c2;
}
